body {
    font-family: sans-serif;
    background-color: #080809;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #edecee;
    color: black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.header-buttons .upload-button,
.logout-button {
    background-color: #ff4b2b;
    border: none;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.header-buttons .upload-button:hover,
.logout-button:hover {
    background-color: #e64421;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.section {
    background-color: #fff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.section h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #6a11cb;
}

.file-list {
    list-style: none;
    padding: 0;
}

.file-item {
    padding: 8px 0;
    font-size: 1.1rem;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.upload-button {
    background-color: #0d0d0e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.upload-button:hover {
    background-color: #4c4d4f;
}

.delete-button {
    background-color: #ff4b2b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #e64421;
}
